body {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Segoe UI Symbol";
}
/* Heading section */
.heading {
	height: auto;
	background-color: #0ac0cf;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	color: #fff;
}
.heading h3, .heading h5 {
	margin-top: 0px;
	margin-left: 10px;
}
.heading a {
	text-decoration: none;
	color: #000;
}

/* Instructions text */
#instr-text {
	display: none;
}

/* Form inputs and buttons */ 
.form-control {
	border: 1px solid #061539;
	border-radius: 3px;
	height: 30px;
	margin-left: 5px;
}

.labels {
	width: 120px;
}

.form-group {
	display: flex;
	margin-top: 10px;
	margin-left: 10px;
}

.button-group {
	margin-top: 10px;
	margin-left: 10px;
}

#plot-btn {
	border: 1px solid #0aafcc;
	border-radius: 5px;
	width: 120px;
	height: 30px;
	margin-top: 30px;
	background-color: #000;
	color: #0aafcc;
}

#aad-btn {
	border: 1px solid #0aafcc;
	border-radius: 5px;
	height: 30px;
	background-color: #000;
	color: #0aafcc;
}

#aad-heading {
	margin-bottom: 0px;
}

#plot-btn:hover, #aad-btn:hover {
	background-color: #0ac0cf;
	color: #fff;
}

.hint {
	font-size: 0.6em;
	color: #f01D15;
	margin-left: 10px;
	display: none;
}

input:focus + .hint {
	display: inline;
}
input:focus + input + .hint {
	display: inline;
}

#coef2, #initial2 {
	display: none;
}

.aad {
	font-style: italic;
	display: none;
}
#aad-text {
	color: #0aafcc;
}

/* Footer section */
#github-div {
	margin-top: 10vh;
	display: flex;
	color: #aaa;
}
#github-div:hover {
	color: #0aafcc;
}
